.fc-main-div{
    text-align: center;
    width: 70%;
    margin: auto;

    .cart-item-card{
        img{
            height: 13rem;
            border-radius: 0.5rem;
        }

        .cart-item-details{
            text-align: left;

            .cart-item-name{
                font-size: 1.4rem;
                font-weight: 600;
            }

            .cart-item-price{
                float: right;
                span{
                    font-size: 1.5rem;
                }
            }
            span{
                font-size: 1.2rem;
                font-weight: 400;
            }

            .cart-container{

                .cart-edit-container{
                    width: 4%;
                    height: 2%;
    
                    span{
                           // width: 25%;
                          // height: 25%;
                             margin: auto;
                        }
                }
            }
        }
    }

    .cart-summary{
        height: fit-content;
        border-radius: 2rem;
        background-color: aliceblue;
        text-align: start;

        span{
            display: block;
            color: rgb(78,78,78);
            margin: 1rem 0;
        }

        p{
            color: rgb(78,78,78);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .summary-total{
            font-weight: 600;
            color: black;
        }
    }
}